NEXT_PUBLIC_SUPABASE_URL=https://rshxjbabyrgsevddtwzf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_belTYCFm37rfDegU0X7R-Q_VS4AlCSV
# server secrets — позже, НЕ коммитить:
# ANTHROPIC_API_KEY=
# TELLER_APP_ID=
